<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md"> Viajes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- Selector de comuna -->
  <ion-item>
    <ion-select [(ngModel)]="comunaSeleccionada" interface="popover" slot="start" placeholder="Selecciona una comuna" (ionChange)="filtrarPorComuna()">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option *ngFor="let comuna of comunasDisponibles" [value]="comuna">{{comuna}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Mostrar los viajes filtrados -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let viaje of viajes" size="12" size-md="6" size-lg="4">
        <div *ngIf="viaje.estado === 'Disponible'">
        <ion-card>
          <img src="{{viaje?.imagen}}" 
          alt="Imagen del viaje" 
          class="viaje-imagen"
          onerror="this.src='assets/img/default.jpg'"/>
          
          <ion-card-header>
            <ion-card-title>{{ viaje.comuna }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Asientos disponibles: {{ viaje.asientosDisponibles }}
            <hr>
            Fecha: {{ viaje.fecha | date: 'dd MMMM yyyy' }} <!-- Formato de fecha -->
            <hr>
            Hora: {{ viaje.hora }}
            <hr>
            Precio: ${{ viaje.precio }}
          </ion-card-content>

          <ion-button [routerLink]="['/vista-detalle-viaje', viaje.id]" expand="block" fill="clear">
            Ver viaje
          </ion-button>
        </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
