<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="md">Crear Viaje - Paso {{ currentStep }} de {{ maxSteps }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid style="min-height: 100vh;">
    <ion-row>
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Nuevo Viaje</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Definir el formulario -->
            <form #form="ngForm">
              <!-- Paso 1: Ingresar Destino -->
              <div *ngIf="currentStep === 1">
                <ion-item>
                  <ion-label position="floating">Ingresa una dirección</ion-label>
                  <ion-input 
                    name="address"
                    [(ngModel)]="address" 
                    (ionInput)="searchAddress($event.target.value ? $event.target.value.toString() : '')"
                    debounce="500">
                  </ion-input>
                </ion-item>
                <ion-list *ngIf="suggestions.length > 0">
                  <ion-item *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                    <ion-label>{{ suggestion }}</ion-label>
                  </ion-item>
                </ion-list>
              </div>

              <!-- Paso 2: Fecha y Hora -->
              <div *ngIf="currentStep === 2">
                <ion-item>
                  <ion-datetime 
                    name="fecha"
                    [(ngModel)]="fecha" 
                    displayFormat="MMM DD, YYYY HH:mm" 
                    min="{{ today }}" 
                    required>
                  </ion-datetime>
                </ion-item>
              </div>

              <!-- Paso 3: Detalles -->
              <div *ngIf="currentStep === 3">
                <ion-item>
                  <ion-label>Seleccionar Auto</ion-label>
                  <ion-select 
                    name="selectedCar"
                    [(ngModel)]="selectedCar" 
                    placeholder="Seleccione un auto"
                    (ionChange)="onCarChange()"
                    required>
                    
                    <ion-select-option *ngFor="let car of cars" [value]="car">
                      {{ car.patente }}
                    </ion-select-option>
                  </ion-select>
                
                  <!-- Botón para redirigir a otra página -->
                  <ion-button 
                    expand="block" 
                    fill="clear" 
                    shape="round" 
                    routerLink="/crear-autp">
                    Añadir auto
                  </ion-button>
                </ion-item>
                <ion-item>
                  <ion-label>Asientos Disponibles</ion-label>
                  <ion-input 
                    slot="end"
                    name="asientosDisponibles"
                    [(ngModel)]="asientosDisponibles" 
                    type="number" 
                    min="1" 
                    max="4">
                  </ion-input>
                  <ion-buttons slot="end">
                    <ion-button (click)="incrementSeats()">↑</ion-button>
                    <ion-button (click)="decrementSeats()">↓</ion-button>
                  </ion-buttons>
                </ion-item>
                <ion-item>
                  <ion-label>Precio</ion-label>
                  $<ion-input name="precio" value="" slot="end" [(ngModel)]="precio" type="number"></ion-input>
                </ion-item>
              </div>

              <!-- Controles de Navegación -->
              <div class="ion-text-center">
                <ion-button (click)="prevStep()" [disabled]="currentStep === 1">Anterior</ion-button>
                <ion-button 
                  *ngIf="currentStep < maxSteps" 
                  (click)="nextStep()" 
                  [disabled]="!canProceedToNextStep()">Siguiente</ion-button>
                <ion-button 
                  *ngIf="currentStep === maxSteps" 
                  (click)="createTrip(form)" 
                  [disabled]="form.invalid"
                  color="primary">Crear Viaje</ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
